@charset "utf-8";
body {
    background-color: #00FBDF;
}

input.txt {
	background-color: #00FBDF;
	border: none;
	border-bottom: 1px solid black;
}
div {
	height: 100vh;
	width: 100vw;
	border: solid;
	padding:10px;
}