@charset "utf-8";
body {
    background-color: #00FBDF;
}

input.txt {
	background-color: #00FBDF;
	border: none;
	border-bottom: 1px solid black;
}
div {
	height: 96vh;
	width: 97vw;
	border: solid #C42729;
	padding:10px;
}